{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>About</title>
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="colorful.css" type="text/css">
  <link rel="stylesheet" type= "text/css" href="{% static 'colorful.css' %}">
</head>

<body>
  <div class="px-0 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item bg-dark"> <a href="\index" class="nav-link"> <i class="fa fa-home fa-home"></i>&nbsp;Home</a> </li>
            <li class="nav-item text-info bg-dark" style=""> <a class="nav-link active" href="\about">About</a> </li>
            <li class="nav-item bg-dark"> <a href="\contact" class="nav-link">Contact</a> </li>
            <li class="nav-item bg-dark"> <a href="\registration" class="nav-link">Registration</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 border-0">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
          <h1>About me</h1>
          <p class="mb-3 lead">My name is Muhammad Fathriza Zakeeffa Kusuma. I was born in Jakarta, on the 9th of October 2000. I am the youngest of my 3 brothers. People like to call me "Jija" or "Riza".</p>
        </div>
        <div class="col-lg-6"> <img class="img-fluid d-block" src="https://image.ibb.co/dCGrU9/205063_1007591039269_1663_n.jpg"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7">
          <p class="lead mb-0">I started my elementary school at Al-Azhar Syifa Budi Kemang. After that, i pursue my Junior Highschool at Labschool Kebayoran, followed by Garuda Cendekia Highschool. Right now i am a student in the Faculty of Computer Science, University of Indonesia.</p>
        </div>
        <div class="p-0 col-lg-5"> <img class="img-fluid d-block" src="https://image.ibb.co/knKZhU/Screen_Shot_2018_09_19_at_11_18_23_PM.png"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
          <p class="mb-3 lead">I dont have a lot of activity outside being a student. My hobby includes playing computer and Playstation. Sometime i also play football with my friends.</p>
        </div>
        <div class="col-lg-6"> <img class="img-fluid d-block float-right" src="https://image.ibb.co/cMLJ99/Screen_Shot_2018_09_19_at_11_26_18_PM.png"> </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>

</html>