{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Riza's Website</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Smke template single landing page team">
  <meta name="keywords" content="Pingendo smke free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'colorful.css' %}">
  <!-- Script: Navbar on-top -->
  <script src="js/navbar-ontop.js"></script>
</head>

<body>
  <div class="py-5 text-center cover d-flex flex-column bg-dark" style="">
    <div class="container my-auto">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 mb-0 mt-5 big-title m-2">Hi, I'm Riza</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 m-3" style=""></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="col-md-12"><a href="/about" class="btn btn-outline-primary btn-lg">About<br></a></div>
            </div>
            <div class="col-md-4"><a href="/contact" class="btn btn-outline-primary btn-lg">Contact<br></a></div>
            <div class="col-md-4"><a href="/registration" class="btn btn-outline-primary btn-lg">Registration<br></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-auto">
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js"></script>
  
</body>

</html>