<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body bgcolor="#99c2ff">


<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>
    <br>
	<article>I am a student in Fasilkom, currently taking Computer Science international program</article>
	<br>
    <article>My hobby is playing games, and sometimes i play football
    </article>
    <br>
    <article>Here's a photo of me and my family</article>
    <br>
    <img src="https://s8.postimg.cc/xbrd62b9x/IMG_3952.jpg">
    <br>
    <br>
    <h2>This is my friend, his name is Vadim</h2>
    <br>
    <article>He is one of my close friends at KKI, he's from Panghudi Luhur highschool</article>
    <br>
    <article>He is very good at coding, and he's very active in the organization at Fasilkom</article>
    <br>
    <article>He says his hobby is watching Netflix and chill all by himself</article>
    <br>
    <article>Here's a photo of him</article>
    <br>
    <img src="https://s8.postimg.cc/gt4l3k8hh/45214.jpg">
    <br>
    <br>
    <h3>This is also one of my friend, his name is Wahyu</h3>
    <br>
    <article>he is also known as Tumpeng, as people in KKI like to call him</article>
    <br>
    <article>Besides rocket league, he loves to read book especially novel</article>
    <br>
    <article>Here's a photo of him</article>
    <br>
    <img src="https://s8.postimg.cc/m4jhoghr9/Pw_GZMUZ.jpg">
</body>
</html>
